* {
    box-sizing: border-box;
    
}
body{
    background-color: #07214b;
    font-family: 'Poppins', sans-serif;
}

#header-nav {
    background-color: #124490;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    background-color: #124490;
    color: white;
  }

.navbar-brand h1 {    

    font-size: 1.25em;
    color: rgb(244, 242, 242);   
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 10px;
}

.text-center {
    font-family: 'Sofia';
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
    color: black;
}

#text {       
    margin: 10px;
    background-color: #78b2d3;
    position: relative;
}
.head1{
    color: white;
}


#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;

    font-weight: 100;
    background-color: #124490;
}

#nav-list a:hover {
    background-color: #0e143fea;   
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
}  